.overlay {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .text {
    color: white;
    font-size: 2em;
    font-family: Arial, sans-serif;
  }
  
  .overlays > ul {
    list-style: none;
    transition: transform 0.5s ease-in-out;
    margin: 150px 0 0;
    padding: 0;
    gap: 18px;
    display: flex;
  }
  
  .overlays > ul > li {
    border: 1px solid #dadada;
    background-color: var(--background-color);
  }
  
  .overlays .overlays-overlay-body {
    margin: 16px;
  }
  
  .overlays .overlays-overlay-image {
    line-height: 0;
  }
  
  .overlays > ul > li img {
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    padding: 30px 10px;
    display: flex;
    align-items: end;
    border-radius: 50%;
    margin: -20px auto 0;
    height: 180px;
    width: 180px;
    position: relative;
    overflow: hidden;
    justify-content: center;
  }

  
.overlays ul li div:nth-child(2) p
  {
    width: 100%;
    background: rgb(216 140 140 / 0.8);
    height: 50px;
    padding: 10px 0 0;
    margin: 0 0 -30px;
    text-align: center;
  }
  .overlays ul li div:nth-child(3)
  {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    margin: 28px;
    height: 140px;
  }
  .overlays ul li div:nth-child(4)
  {
    text-align: center;
    font-style: bold;
    font-size: 20px;
    background: rgb(140 187 216 / 0.8);
  }