.overlay {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .text {
    color: white;
    font-size: 2em;
    font-family: Arial, sans-serif;
  }
  
  .overlays > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
  }
  
  .overlays > ul > li {
    border: 1px solid #dadada;
    background-color: var(--background-color);
  }
  
  .overlays .overlays-overlay-body {
    margin: 16px;
  }
  
  .overlays .overlays-overlay-image {
    line-height: 0;
  }
  
  .overlays > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  
  .overlays > ul:hover .overlay {
    opacity: 1;
  }