:root{
    --product-image-height:150px;
    --product-image-width:150px;
    --heading-alignment:center;
    --sub-heading-alignment:center;
    --product-title-alignment:center;
    --product-description-alignment:center;
    --product-price-alignment:center;
    --product-image-alignment:center;
}
body
{
    background: #f9f9f9;
}
.products-container
{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.products-container .heading
{
    font-size: 48px;
    width: 100%;
    text-align: var(--heading-alignment);
}
.products-container .sub-heading
{
    font-size: 18px;
    text-align: var(--sub-heading-alignment);
    width: 100%;
}
.products-container ul
{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.products-container ul li 
{
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    text-align: center;
    object-fit: cover;
    box-shadow: 0 0 4px 4px #f1f1f1;
}
.products-col-4 li
{    
    width: calc(24% - 20px);
}
.products-col-3 li
{    
    width: calc(32% - 20px);
}
.products-col-2 li
{    
    width: calc(49% - 20px);
}
.products-container ul li picture
{
    display: flex;
    justify-content: var(--product-image-alignment);
}
.products-container ul li img
{
    object-fit: contain;
    height: var(--product-image-height);
    width: var(--product-image-width);
}
.products-container ul li h3
{
    text-align: var(--product-title-alignment);
}
.products-container ul li p
{
    text-align: var(--product-description-alignment);
}