.testingcard {
    display: flex;
    flex-direction: column;
    background-color: #f0e6f6;
    border: 1px solid #8f4889;
    border-radius: 10px;
    min-width: 200px;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testingcard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.testingcard h1 {
    font-size: 2rem;
    color: #4a154b;
    margin-bottom: 10px;
}

.testingcard p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}


.global-absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.global-object-cover {
    object-fit: cover;
}

.global-h-full {
    height: 100%;
}

.global-w-full {
    width: 100%;
}

.global-z-0 {
    z-index: 0;
}

.background-image-enhanced {
    filter: brightness(0.8) contrast(1.2);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.background-image-enhanced:hover {
    filter: brightness(1) contrast(1);
    transform: scale(1.05);
}

picture{
        display: block;
        height: 150px;
        width: 150px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto 20px;
    
}