.category-card-wrapper {
  max-width: 305px;
  height: 100%;
}

.category-card-wrapper .text-primary-500 {
  color: #7523ff;
}

.category-card-wrapper .icon-arrow-right {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

@media (min-width: 768px) {
  .category-card-wrapper {
    max-width: none;
  }
}